.fill-remaining-space {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {

  margin-right: 8px;
}



table {
  border-collapse: collapse;
  width: 100%;

}

table td,
table th {

  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.spacer {
  display: inline-block;
  width: 25px;
}