@import '~@angular/material/theming';
@include mat-core();

$newsfeed-primary: mat-palette($mat-gray, 800);
$newsfeed-accent:  mat-palette($mat-purple, 800);
$newsfeed-warn:    mat-palette($mat-gray);

$newsfeed-theme: mat-light-theme($newsfeed-primary, $newsfeed-accent, $newsfeed-warn);

@include angular-material-theme($newsfeed-theme);